.resize {
  height: 400px;
}

.bg-navy {
  background-color: #1c3f60;
}

.bg-maroon {
  background-color: #dcf0f2;
}
.text-maroon {
  color: #dcf0f2;
}
nav a:hover {
  background-color: #afc1d0;
}

@media screen and (max-width: 425px) {
  img.fix {
    margin-bottom: 10px;
    margin-left: 12.5%;
    height: 200px;
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  img.fix {
    margin-top: 10px;
    height: 150px;
  }
}
