* {
  box-sizing: border-box;
}
hr {
  clear: both;
}
body {
  background-color: #282c34;
}
/* img {
  width: 100%;
  height: 250px;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header,
footer {
  text-align: center;
  color: antiquewhite;
}
footer {
  align-items: flex-end;
  min-height: 10vh;
}

img {
  display: block;
}
