// Example variable 1 //
$mycolor: blue;
$space: 10px;
.wrap p {
  margin: $space;
  padding: $space;
}
.p-border {
  border: dotted 3px $mycolor;
}
.p-background {
  background-color: rgba($mycolor, 0.3);
}
.p-color {
  color: $mycolor;
}
// Example variable 2 //
$bodycolor: lightblue;
$primarycolor: darkblue;
$footer: yellow;
$fontstock: arial;

body {
  background: $bodycolor;
}
header {
  color: $primarycolor;
}

// Nesting //
$fillcolor: lightgrey;
$tr-bgcolor: lightgreen;

.sample-nest {
  p {
    background: $fillcolor;

    a {
      &:hover {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
      }
    }
  }
  table {
    border: 2px solid $primarycolor;
    width: 100%;

    tr {
      &:nth-child(2n) {
        background-color: $tr-bgcolor;
        padding: 6px 6px;
      }
    }

    th {
      font: $fontstock;
      color: $primarycolor;
      font-size: large;
    }
  }
}

//Nesting 2

nav {
  ul {
    list-style: none;
    margin: 1px;
    padding: 1px;
    border: 2px solid lightsalmon;
    background-color: coral;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  li {
    float: left;
    border-right: 2px solid $primarycolor;

    &:hover {
      background-color: $fillcolor;
    }
  }
  a {
    display: block;
    padding: 8px 10px;
    text-decoration: underline;

    &:hover {
      color: coral;
    }
  }
}

//Mixin

@mixin headline($color, $size) {
  color: $color;
  font-size: $size;
}

.headline-news1 {
  @include headline(green, 3em);
}
.headline-news2 {
  @include headline(blue, 2em);
}
.headline-news3 {
  @include headline(red, 2em);
}

//Mixin Sample 2
$boxstyle1: 5px, solid, red, 20px;
$boxstyle2: (
  bstyle: dotted,
  bcolor: blue,
  bwidth: medium,
  bradius: 20px,
);
@mixin boxy($bwidth, $bstyle, $bcolor, $bradius) {
  border-width: $bwidth;
  border-style: $bstyle;
  border-color: $bcolor;
  border-radius: $bradius;
}
.box1 {
  @include boxy($boxstyle1...);
}
.box2 {
  @include boxy($boxstyle2...);
}

// If Else Example

$light: 1px solid black;
$medium: 3px solid black;
$heavy: 6px solid black;

@mixin border-stroke($val) {
  @if $val==light {
    border: $light;
  } @else if $val==medium {
    border: $medium;
  } @else {
    border: $heavy;
  }
}

.boxheavy {
  width: 150px;
  height: 150px;
  background-color: red;
  @include border-stroke(heavy);
}

.boxmedium {
  width: 150px;
  height: 150px;
  background-color: teal;
  @include border-stroke(medium);
}

.boxlight {
  width: 150px;
  height: 150px;
  background-color: pink;
  @include border-stroke(light);
}

//Each Example

$themecolors: (
  "pink": pink,
  "red": red,
  "orange": orange,
);

@each $tcolor, $i in $themecolors {
  .coloring {
    &.#{$tcolor} {
      background-color: $i;
    }
  }
}
